.dashboard-map-form{
    width: 80rem;
}

.map-display{
    width: inherit;
}

.divRounded{
    border-radius: 10%;
}

.imgRounded{
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}