body{
    margin: 0;
}

#preview{
    height: 100vh;
}

.hud{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: fit-content;
    position: absolute;
    z-index: 2;
    border-bottom-right-radius: 5vh;
    overflow: auto;
    max-width: 100vh;
    padding: 10px;
}

.elements{
    right:0;
}