body{
    overflow-x: hidden;
}

.menu{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu nav{
    display: flex;
}

.menu li{
    text-decoration: none;
    text-align: center;
    list-style: none;
}

.logo{
    height: 82px;
    width: 82px;
}