<a-sky id="skybox" src="assets/images/sky.png" animationcustom></a-sky><a-image src="assets/images/batInfo.jpg" position="0 0 -0.6" width="2.1"></a-image>
        <a-image onclick="goTo('templates/projet.html')" animationcustom  position="-0.7 0.05 -0.5" src="assets/images/blueWaypoint.png" color="#FFFFFF" rotation="0 90 0" look-at="#camera" height="0.1" width="0.1" map></a-image>
      
        <a-image onclick="goTo('templates/couloirA12.html')" animationcustom  position="0.75 -0.3 -0.5" src="assets/images/blueWaypoint.png" color="#FFFFFF" rotation="0 90 0" look-at="#camera" height="0.1" width="0.1" map></a-image>
      
