<a-sky id="skybox" src="./assets/images/couloirA12.JPG" animationcustom></a-sky>
            <a-entity position="-2 -0.5 0.1" rotation="0 107 0" scale="0.39 0.39 0.39">
            <a-image src="./assets/images/fleche.png" id="model" animationcustom
              onclick="goTo('templates/A12.html', '0 0 0')">
            </a-image>
            </a-entity>
          
            <a-entity position="0.5 0 2" rotation="180 180 14" scale="0.25 0.25 0.25">
            <a-image src="./assets/images/fleche.png" id="model" animationcustom
              onclick="goTo('templates/couloirA18A19.html', '0 0 0')">
            </a-image>
            </a-entity>
          
