<a-sky id="skybox" src="./assets/images/couloirA18A19.JPG" animationcustom></a-sky>
            <a-entity position="0.75 0.25 0.4" rotation="0 35 90" scale="0.21 0.21 0.21">
            <a-image src="./assets/images/fleche.png" id="model" animationcustom
              onclick="goTo('templates/A19.html', '0 0 0')">
            </a-image>
            </a-entity>
          
            <a-entity position="-2 0 -0.5" rotation="0 0 -90">
            <a-image src="./assets/images/fleche.png" id="model" animationcustom
              onclick="goTo('templates/A18.html', '0 0 0')"
              look-at="#camera">
            </a-image>
            </a-entity>
          
            <a-entity position="0.35 -0.25 2" rotation="0 0 90" scale="0.5 0.5 0.5">
            <a-image id="model" src="./assets/images/fleche.png"
              animationcustom
              onclick="goTo('templates/projet.html', '0 0 0')"
              >
            </a-image>
            </a-entity>
          
