<head>
    <title></title>
    <link rel="stylesheet" href="./views/styles/home.css">
</head>

<div class="container-fluid border p-3 shadow align-baseline">
    <div class="row">
        <div class="col-1 text-right align-self-center">
            <img class="logo" src="./views/assets/images/archivrlogo.png" alt="archivr-logo" width="auto" height="auto">
        </div>
        <div class="col align-self-center">
            <form method="post">
                <button type="submit" class="btn btn-secondary">Home</button>
                <input type="hidden" name="action">
            </form>
        </div>
        <div class="col-md align-self-center">
            <form method="post">
                <button type="submit" class="btn btn-secondary">Tutorial</button>
                <input type="hidden" name="action" value="goToTutorial">
            </form>
        </div>
        <div class="col-md align-self-center">
            <form method="post">
                <button type="submit" class="btn btn-secondary">Import</button>
                <input type="hidden" name="action" value="import">
            </form>
        </div>
        <div class="col-xl"></div>
        <div class="col-sm align-self-center text-center">
            <form method="post">
                <button type="submit" class="btn btn-primary">New Panorama</button>
                <input type="hidden" name="action" value="goToLoadImages">
            </form>
        </div>
    </div>
</div>

